.App {
  /* text-align: center; */
}

::selection { background:#ff42bd; color: black; }
::-moz-selection { background:#ff42bd; color: black;}

.Home {
  margin-top: 5vw;
}

.discography-track-cover {
  width: 270px;
  height: 270px;
}

h1 {
  text-align: center;
}

#discography-glyphicon {
  float: left;
}

.header-title {
  text-decoration: none;
  color: black;
}

.header-title:hover {
  text-decoration: none;
  color: black;
}

.Track {
  margin-top: 5vw;
}

#yolo {
  float: right;
}

.discography-date {
  /* float: right; */
  font-size: 13px;
}

iframe {
  /* width: 350px;
  height: 300px; */
}

.discography-sub-header {
  font-size: 18px;
}

.discography-sub-header span {
  margin-right: 5px;
}

.fullscreen {
  float: right; 
  font-size: 3rem;
  color: black;
}

@media (max-width: 768px) {
  html a { font-size: 12px; }
  .discography-links { display: none; }
}

@media screen and (max-width: 360px) {
  .discography-date {
    font-size: 12px;
  }

  .discography-row a {
    font-size: 8px;
  }

  .discography-info {
    font-size: 10px;
    text-align: left;
    float: left;
    width: 150px;
  }

  .discography-sub-header {
    font-size: 3vw;
  }

  .fullscreen {
    font-size: 2rem;
  }


}
