.App {
  /* text-align: center; */
}

.Home {
  margin-top: 5vw;
}

.discography-track-cover {
  width: 270px;
  height: 270px;
}

h1 {
  text-align: center;
}

#discography-glyphicon {
  float: left;
}

.header-title {
  text-decoration: none;
  color: black;
}

.header-title:hover {
  text-decoration: none;
  color: black;
}

.Track {
  margin-top: 5vw;
}

#yolo {
  float: right;
}

.discography-date {
  /* float: right; */
  font-size: 13px;
}

@media (max-width: 768px) {
  html a { font-size: 12px; }
}

@media screen and (max-width: 340px) {
  .discography-date {
    font-size: 12px;
  }
}
