
::selection { background:#ff42bd; color: black; }
::-moz-selection { background:#ff42bd; color: black;}

.Home {
  margin-top: 5vw;
}

.Track {
  /* background-color: black; */
  background: linear-gradient(360deg, ghostwhite, black);
  height: 100vh;
}

.overlay-wrapper {
  position: relative;
  opacity: 1;
  transition: opacity 0.1s;

}


.overlay-wrapper span {
  display: none;
  position:absolute; 
  top:150px; 
  /* 120px på mobil */
  right:0; 
  left:0;  
  z-index: 5; 
  width:100%; 
  text-align:center;
  font-size: 70px;
  color: ghostwhite;
}

.overlay-wrapper img:hover {
  opacity: 0.7;
}

.overlay-wrapper img:hover + span {
  display: block;
  
}

.track-page-header {
  color: ghostwhite;
  opacity: 0.8;
}

.track-footer {
  margin-top: 50px;
  text-align: center;
}

.track-footer a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.6;

}

.Track h1 {
  color: ghostwhite;
}

.track-text {
  text-align: left;
}

.track-icon {
  float: left;
  margin-right: 2vw;
}

.discography-track-cover {
  width: 270px;
  height: 270px;
}

#release-text {
  text-align: center;
  font-style: italic;
  opacity: 0.8;
  font-size: 12px;
}

h1 {
  text-align: center;
}

#discography-glyphicon {
  float: left;
}

.header-title {
  text-decoration: none;
  color: black;
}

.header-title:hover {
  text-decoration: none;
  color: black;
}

.Track {
  /* margin-top: 5vw; */
}

#yolo {
  float: right;
}

.discography-date {
  /* float: right; */
  font-size: 13px;
}

.discography-sub-header {
  font-size: 18px;
}

.discography-sub-header span {
  margin-right: 5px;
}

.fullscreen {
  /* float: right;  */
  font-size: 2rem;
  color: black;
}

.lyrics {
  white-space: pre-line;
}

#download-icon {
  float: left;
}

@media (max-width: 768px) {
  html a { font-size: 12px; }
  .discography-links { display: none; }
}

@media screen and (max-width: 360px) {

  .Track {
    /* background-color: black; */
    height: 100%;
  }

  .discography-date {
    font-size: 12px;
  }

  .discography-row a {
    /* font-size: 8px; */
  }

  .discography-info {
    font-size: 10px;
    text-align: left;
    float: left;
    width: 150px;
  }

  .discography-sub-header {
    /* font-size: 3vw; */
  }

  .fullscreen {
    font-size: 2rem;
  }


}
